/*Estilos generales del componente */

body {
  height: 100%;
}

#form{
  width: 576px;
  translate: Y(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

#datos{
  width: 576px;
  translate: Y(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

img{
  width: 40px;
  height: 40px;
  -webkit-transform:scale(1);
  transform:scale(1);
  transition-duration: 0.7s;
}

img:hover{
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
  transition-duration: 0.5s;
}

/*Break points para adaptar estilos*/

@media (min-width: 991.98px) {
  .container{
    min-height: 70vh;
  }
}

@media (min-width: 1024.98px) {
  #alert{
    margin-top:20px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .contact{
    min-height: 50vh;
    display:flex;
  }
  #form{
    max-width: 500px;
    max-height: 450px;
  }

  #datos{
    max-width: 500px;
    max-height: 450px;
  }

  .container{
    min-height: 58vh;
  }
}


@media (max-width: 767.98px) {
  h1 {
    padding-left: 15px;
    font-size:xx-large;
  }

  h4 {
    font-size:large;
  }

  hr{
    max-width: 90%;
  }
  #alert{
    margin-left: 10px;
    margin-right: 10px;
  }
  form{
    padding-top: 30px !important;
  }

  .container{
    min-height: 80vh;
  }

  #form{
    max-width: 300px !important;
  }

  #datos{
    max-width: 300px !important;
  }

  img{
    width: 30px;
    height: 30px;
  }


}

@media (max-width: 320px) {
  h1 {
    padding-left: 15px;
    font-size:x-large;
  }

  h4 {
    font-size:small;
  }

  hr{
    max-width: 90%;
  }
  #alert{
    margin-left: 8px;
    margin-right: 10px;
  }
  form{
    padding-top: 30px !important;
  }

  .container{
    min-height: 80vh;
  }

  #form{
    max-width: 225px !important;
  }

  #datos{
    max-width: 225px !important;
  }

  img{
    width: 20px;
    height: 20px;
  }

  button, label, ::placeholder{
    font-size: small !important;
  }

  p{
    font-size: x-small !important;
  }

}
