/*Estilos generales del componente */

body {
  background-color:snow;
  height: 100vh;
}

/*Break points para adaptar estilos*/

@media (min-width: 991.98px) {
  form {
    max-width: 75%;
  }
  #alert{
    margin-top:20px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .container{
    min-height: 77vh;
  }
}


@media (max-width: 991.98px) {
  h1 {
    padding-left: 15px;
    font-size:xx-large;
  }
  hr{
    max-width: 90%;
  }
  #alert{
    margin-left: 10px;
    margin-right: 10px;
  }
  form{
    padding-top: 30px !important;
  }
  .container{
    min-height: 80vh;
  }

}
