/*Estilos generales del componente */

body {
  background-color:snow;
  height: 100vh;
}

#form{
  max-width: 576px;
  translate: Y(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

#datos{
  max-width: 576px;
  min-width: 500px;
  translate: Y(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

img{
  width: 40px;
  height: 40px;
}

/*Break points para adaptar estilos*/

@media (min-width: 991.98px) {
  #alert{
    margin-top:20px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .contact{
    min-height: 50vh;
    display:flex;
  }
  #form{
    max-width: 500px;
  }

  #datos{
    max-width: 500px;
  }
}


@media (max-width: 991.98px) {
  h1 {
    padding-left: 15px;
    font-size:xx-large;
  }
  hr{
    max-width: 90%;
  }
  #alert{
    margin-left: 10px;
    margin-right: 10px;
  }
  form{
    padding-top: 30px !important;
  }
  .container{
    min-height: 80vh;
  }

}
