/*Estilos generales del componente */

body {
  min-height: 100vh;
}

.strong{
  color:rgb(37, 37, 37);
}

#img{
  width: 70px;
  height: 85px;
  -webkit-transform:scale(1);
  transform:scale(1);
  transition-duration: 0.7s;
}

#foto_bio{
  translate: Y(-5px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.90);
}

#tablet{
  width: 65px;
  height: 80px;
  -webkit-transform:scale(1);
  transform:scale(1);
  transition-duration: 0.7s;
}

/*Animación para aumentar imágenes*/

#img:hover{
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
  transition-duration: 0.5s;
}

#tablet:hover{
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  transition-duration: 0.5s;
}

#foto_bio{
  filter: opacity(.4);
}


/*Break point para cambiar estilos y minimizar img */

@media (min-width: 991.98px) {
  .container{
    min-height: 82vh;
  }
}

@media (max-width: 767.98px) {
  h1 {
    padding-left: 15px;
    font-size:xx-large;
  }
  h4{
    font-size:large;
  }

  #core, #bio{
    padding-left: 13px;
    padding-right: 13px;
  }
  #img{
    width: 60px;
    height: 75px;
  }

  #tablet{
    width: 55px;
    height: 70px;
  }
  .container{
    min-height: 80vh;
  }
}

