/*Estilos generales del componente */

body {
  min-height: 100vh;
}

a{
  text-decoration:none;
}

img:hover {
  filter: opacity(.4);
}

.card:hover{
  translate: Y(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card{
  translate: Y(-2px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.20);
}

@media (max-width: 576px) {
  .card{
    margin-left: 15px;
    margin-right: 15px;
  }
}



