/*Estilos generales del componente */

#container {
  background-color:snow;
  min-height: 100vh;
}

.list-group-item:hover{
  translate: Y(-2px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.25);
}

.list-group-item{
  translate: Y(-1.5px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.15);
}

/*Break point para adaptar cabecera */

@media (min-width: 991.98px) {
  .container{
    min-height: 82vh;
  }
}

@media (max-width: 767.98px) {
  h1 {
    padding-left: 15px;
    font-size:xx-large;
  }
  hr{
    max-width: 90%;
  }
  .container{
    min-height: 80vh;
  }
}
