/*Estilos generales del componente */

img{
  width: 40px;
  height: 40px;
}

footer{
  background-color:rgb(32, 31, 31);
}

/*Animación para aumentar imágenes logos*/

.hover:hover{
  -webkit-transform:scale(1.4);
  transform:scale(1.4);
  transition-duration: 0.5s;
  background-color:rgb(175, 179, 180);
}

.hover{
  -webkit-transform:scale(1);
  transform:scale(1);
  transition-duration: 0.7s;
  background-color:rgb(101, 105, 107);
}

/*Break point para minimizar logos */

@media (max-width: 767.98px) {
  img{
    width: 30px;
    height: 30px;
  }
}

